<!DOCTYPE html>
<html>
    <head>
        <title>Account Resume</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <link rel="shortcut icon" href="/image/favicon.ico" />
    </head>
    <body>
      <script src="/javascript/jquery.min.js"></script>
      <script src="/javascript/bootstrap.min.js"></script>
      <script src="/javascript/method.js"></script>

      <div align="center">
          <h2>Account Resume</h2>
          <!-- <h2><%=title %></h2> -->
      </div>
      <div class="container-fluid">
          <div class="row">
          <div class="col-md-12">
          <div class="panel panel-default">
          <div class="panel-heading">
              Account List
          </div>
          <div class="panel-body">
              <div id="accounttable">
                  <table class="table">
                      <thead>
                          <label for="code">ITSR Request No.</label>
                          <input type="text" class="form-control" id = "itsr">
                          <tr>
                              <th>Index</th>
                              <th>工號</th>
                              <th>NT Account</th>
                          </tr>
                          <tbody id="accountchecktable">
                              <tr>
                                <td>1</td>
                                <td><input type="text" class="form-control" id = "number-1"></td>
                                <td><input type="text" class="form-control" id = "account-1"></td>
                              </tr>
                              <tr>
                                <td>2</td>
                                <td><input type="text" class="form-control" id = "number-2"></td>
                                <td><input type="text" class="form-control" id = "account-2"></td>
                              </tr>
                              <tr>
                                <td>3</td>
                                <td><input type="text" class="form-control" id = "number-3"></td>
                                <td><input type="text" class="form-control" id = "account-3"></td>
                              </tr>
                              <tr>
                                <td>4</td>
                                <td><input type="text" class="form-control" id = "number-4"></td>
                                <td><input type="text" class="form-control" id = "account-4"></td>
                              </tr>
                              <tr>
                                <td>5</td>
                                <td><input type="text" class="form-control" id = "number-5"></td>
                                <td><input type="text" class="form-control" id = "account-5"></td>
                              </tr>
                          </tbody>
                      </thead>
                  </table>
                  <div align="right" >
                    <button type="button" class="btn btn-primary" id="summit-btn" >Summit</button>
                    <button type="button" class="btn btn-primary" id="add-line-btn" >Add Line</button>
                  </div>
                </div>
              </div>
<!--

              <form id="loginformA" action="IsSaved" method="post">
    <div>
        <input type="text" name="UID" value="DHHHS"></input>
    </div>
<input type="submit" value="Submit"></input>
</form> -->
    </body>
</html>
